@-ms-keyframes spin { 
  from { 
      -ms-transform: rotate(0deg); 
  } to { 
      -ms-transform: rotate(360deg); 
  }
}
@-moz-keyframes spin { 
  from { 
      -moz-transform: rotate(0deg); 
  } to { 
      -moz-transform: rotate(360deg); 
  }
}
@-webkit-keyframes spin { 
  from { 
      -webkit-transform: rotate(0deg); 
  } to { 
      -webkit-transform: rotate(360deg); 
  }
}
@keyframes spin { 
  from { 
      transform: rotate(0deg); 
  } to { 
      transform: rotate(360deg); 
  }
}

.app {
  position: relative;
  overflow: hidden;
}

.app__figure {
  width: 500px;
  height: auto;
  position: absolute;
  z-index: -1;
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

.app__figure.app__figure_1 {
  top: 95px;
  right: 0;
}

.app__figure.app__figure_2 {
  bottom: 120px;
  left: 0;
}