.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
  border-bottom: 3px solid #fff;
  padding: 0 100px;
  background-color: #0c1933;
}

.header__button {
  background-color: rgba(0,0,0,0%);
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  color: #fff;
}

.header__button:hover {
  opacity: 0.5;
}

.profile-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
  display: flex;
  gap: 15px;
  text-decoration: none;
  align-items: center;
}

.profile-link:hover {
  opacity: .7;
}

.profile-link__icon {
  background-image: url(../../image/icon-profile.svg);
  width: 41px;
  height: 41px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}