.signin-badge {
  height: 100%;
  width: 623px;
  background-image: url(../../image/picture-sign.svg);
  background-size: cover;
  border-right: 3px solid #fff;
  background-color: #162542;
}

.signin-badge__title {
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
}

.signin-badge__image {
  background-image: url('../../image/logo.svg');
  width: 32px;
  height: 30px;
  background-position: center;
  background-size: cover;
}

.signin-badge__logo {
  display: flex;
  gap: 7px;
  position: absolute;
  top: 182px;
  left: 40px;
}

.signin-badge__subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 38px;
  line-height: 100%;
  color: #fff;
  position: absolute;
  top: 242px;
  left: 40px;
}

.signin-badge__text {
  margin: 0;
  width: 316px;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  color: #fff;
  position: absolute;
  top: 290px;
  left: 40px;
}

.signin-badge__subtext {
  position: absolute;
  bottom: 25px;
  left: 128px;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  color: #fff;
}

.signin-badge__link {
  color: #00a3ff;
}